/* 
*navbar
*footer
*colors
 */
body {
  font-family: Arial, sans-serif;
}
/* input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
} */
input[type="time"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
